<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품상세</title>
</head>
<body>
<div class="product-wrap">
  <h3>상품상세</h3>
  <!-- 폼태그의 메소드는 요청 메소드, 액션은 경로(디폴트는 현재 요청URL) -->
  <form method="POST" action="">
    <div>
      <div><label for="">상품ID</label><input type="text" readonly></div>
      <div><label for="">상품명</label><input type="text" readonly></div>
      <div><label for="">수량</label><input type="text" readonly></div>
      <div><label for="">가격</label><input type="text" readonly></div>
      <!-- <div><label for="">상세설명</label></div>
      <textarea name="" id="" cols="30" rows="10"></textarea> -->
      <!-- 폼태그 내에서 버튼은 디폴트가 서밋, 바깥에서는 버튼 -->
      <div><button id="editBtn">수정</button></div>
      <div><button id="delBtn">삭제</button></div>
      <div><button id="listBtn">목록</button></div>
    </div>
  </form>
</div>
<script>
  
</script>
</body>
</html>