<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원등록</title>
  <style>
    .errmsg {
      font-size: 0.8em;
      font-weight: bold;
      color: red;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    ul, li {
      text-decoration: none;
    }
    .fieldsError {
      border: 1px solid red;
      color: red;
    }
    .fieldsSuccess {
      border: 1px solid rgb(0, 153, 255);
      color: rgb(0, 153, 255);
    }
  </style>
</head>
<body>
<h3 th:text="#{title.member.add}">회원등록</h3>
<hr>
<!-- form 태그 메소드 기본값은 'GET' -->
<form id="frm" action="" method="post" th:object="${form}">
  <div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
  </div>
  <!--    input 요소의 name 속성이 있어야 값이 전달된다-->
  <!--    field의 *{member}는 th:objec 객체의 멤버다. controller의 @ModelAttribute로 부터 받는다.-->
  <!--    타입이 password인 경우를 제외하고 넘겨받은 값을 유지한다-->

  <div><label for="" th:text="#{label.member.email}">이메일</label>
    <!-- <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? fieldsError : fieldsSuccess"> -->
    <input type="text" th:field="*{email}">
    <span class="errmsg"></span>
    <ul th:if="${#fields.hasErrors('email')}" th:class="errmsg">
      <li th:each="err :${#fields.errors('email')}" th:text="|${errStat.count}.${err}|"></li>
    </ul>
    <!-- <div><span th:errorclass="errmsg" th:errors="*{email}"></span></div> -->
  </div>

  <div><label  for="" th:text="#{label.member.pw}">비밀번호</label>
    <input type="password" th:field="*{pw}">
    <span class="errmsg"></span>
    <span th:errorclass="errmsg" th:errors="*{pw}"></span>
  </div>
  <div><label for="" th:text="#{label.member.nickname}">별칭</label>
    <input type="text" th:field="*{nickname}">
    <span class="errmsg"></span>
    <span th:errorclass="errmsg" th:errors="*{nickname}"></span>
  </div>
  <div>
    <!-- form 태그 내에서의 버튼은 기본 'submit' -->
    <button type="submit" th:text=#{btn.add} id="addBtn">등록</button>
    <button type="reset" th:text="#{btn.cancel}">취소</button>
    <button type="button" th:text="#{btn.list}" th:onclick="|location.href='@{/admin/members/all}'|">목록</button>
  </div>
</form>
<script th:inline="javascript">
  //  addBtn.addEventListener('click', e => {
      //submit에 의해 처리가 이뤄지기 전에 검증하기 위해..
      // e.preventDefault();
      // field에 의해 id가 만들어져있으므로
      // if(email.value.trim().length == 0) {
      //   email.nextElementSibling.textContent = '이메일 입력은 필수입니다.';
      //   email.focus();
      //   return;
      // }
   //   frm.submit(); //요청메시지 생성

  //  });

  </script>
</body>
</html>